.navbar {
    padding: 0 0 10px 10px;
  }
  
  .navbar-header {
    font-size: 1.25rem;
    font-family: 'Arial Rounded MT Bold';
    color: #fff;
    opacity: 1;
  }
  
  .navbar-brand {
    font-size: 2.25rem;
    transform: translate(-52px,30px);
  }
  
  .leaf {
    transform: translate(119px,11px);
    margin-left: -30% ;
  }