<style>

.navbar {
  padding: 0 0 10px 10px;
}


.navbar-header {
  font-size: 1.25rem;
  font-family: 'Arial Rounded MT Bold';
  color: #fff;
  opacity: 1;
}


.navbar-brand {
  font-size: 2.25rem;
  transform: translate(-52px,30px);
}

.leaf {
  transform: translate(119px,11px);
  margin-left: -30% ;
}

</style>

<nav class="navbar navbar-dark bg-success">
  <div class="container-fluid mx-0 ml-sm-4">
    <div class="navbar-header">
      <a class="navbar-brand leaf" href="<%= data.site.navbar.home_url %>"><img alt="" src="<%= data.site.page.logo_src %>"></a>
      <h1 class="navbar-brand" style="margin:0px;"><%= data.site.page.title %></h1>

    </div>

  </div>
</nav>