<style>

* {
  font-family: 'Arial Rounded MT Bold'
}

body {
  background-color: #3d424e;
}

</style>
<!-- ## TODO Move all CSS into the CSS files-->
<div class="jumbotron text-center bg-dark text-white mt-2">
  <h3>What are easy plants to have your desk</h3>
</div>

  <%= partial "partials/plant_card" %>

</div>